$font-size-default: 16px !default;

@function calculate-rem($size) {
  $rem-size: $size / $font-size-default;
  //Default font size on html element is 100%, equivalent to 16px;
  @return #{$rem-size}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin font-size($size) {
  font-size: calculate-rem($size);
}

@function calc-text-color($color) {
  @if (lightness($color) > 50) {
    @return $black;
  } @else {
    @return $gray-light;
  }
}
